- if @filters.present?
  = hidden_field_tag 'filters', @filters

- if @destroyed.present?
  .row
    .alert.alert-success
      = "#{@destroyed} has been deleted."
- if @not_found.present?
  .row
    .alert.alert-danger
      = "That action can not be performed"
- if @updated.present?
  .row
    .alert.alert-success
      = "#{@updated.title} updated!"
.row
  .filters
    .col-lg-2
      %label Industry
      = select_tag "industry_filter", options_for_select(@industries.collect{ |i| [i.name, i.id]}), class: 'form-control', prompt: "Select an Industry"
    .col-lg-4
      %label Tags
      %input{id: "tags_filter", class: 'form-control', data: {role: "tagsinput"}}
      .hint-text
        Press Enter to separate tags
    .col-lg-2
      %label Created By
      = select_tag "created_by", options_for_select([["Me", "me"], ["Not Me", "not me"]]), class: 'form-control', include_blank: true
    .col-lg-2
      %label Sort By
      = select_tag "sorted_by", options_for_select([["A-Z", "name desc"], ["Z-A", "name asc"], ["Newest", "newest"], ["Oldest", "oldest"]]), class: 'form-control', include_blank: true
    .col-lg-2
      = button_tag "Filter", class: 'btn btn-lg btn-primary filter-button'

- if @ideas.blank?
  %h3 No ideas match your filters
- else
  - @ideas.each do |idea|
    .row
      .idea{data: {idea_id: idea.id}}
        .col-md-2.likes

          - if current_user.has_liked?(idea)
            .idea-liked.liked.fa.fa-thumbs-o-up
            .idea-like.like.fa.fa-thumbs-up.hidden
          - else
            .idea-liked.liked.fa.fa-thumbs-o-up.hidden
            .idea-like.like.fa.fa-thumbs-up
          - if current_user.has_disliked?(idea)
            .idea-disliked.disliked.fa.fa-thumbs-o-down
            .idea-dislike.dislike.fa.fa-thumbs-down.hidden
          - else
            .idea-disliked.disliked.fa.fa-thumbs-o-down.hidden
            .idea-dislike.dislike.fa.fa-thumbs-down

        .col-md-8
          .row
            .col-md-5
              .idea-text
                .idea-header
                  = link_to idea.title, ideas_path(id: idea.id, filters: @filters), class: 'idea-link'
            .col-md-4
              .likes-count
                = "likes: #{idea.like_count}, dislikes: #{idea.dislike_count}"
            - if current_user.has_created?(idea)
              .col-md-3.action-buttons
                = link_to "Edit", edit_ideas_path(id: idea.id, filters: @filters), class: 'btn btn-md btn-primary'
                = link_to "Delete", ideas_path(id: idea.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-md btn-info'

          .row
            .col-md-12
              .idea-description
                = idea.description

:coffeescript
  $ ->
    if $('#filters').length
      filters = JSON.parse($('#filters').val())
      $('#industry_filter').val(filters.industry)
      for tag in JSON.parse(filters.tags)
        $('#tags_filter').tagsinput('add', tag)
      $('#created_by').val(filters.created_by)
      $('#sorted_by').val(filters.sorted_by)

  $('.idea-like').click ->
    idea = $(this).closest('.idea')
    submit_action('like', idea)

  $('.idea-dislike').click ->
    idea = $(this).closest('.idea')
    submit_action('dislike', idea)

  $('.filter-button').click ->
    filters =
      industry: $('#industry_filter').val()
      tags: JSON.stringify($('#tags_filter').tagsinput("items"))
      created_by: $('#created_by').val()
      sorted_by: $('#sorted_by').val()

    url = '/dashboard?filters=' + JSON.stringify(filters)
    window.location.href = url

  submit_action = (action, idea) ->
    $.ajax
      dataType: 'json'
      type: 'POST'
      url: '/likes/new_' + action
      data:
        idea_id: idea.data().ideaId
      success: (data) ->
        idea = $('.idea[data-idea-id=' + data.idea_id + ']')
        idea.find('.likes-count').text("likes: " + data.idea_likes + ", dislikes: " + data.idea_dislikes)
        if data.liked
          idea.find('.liked, .dislike').removeClass("hidden")
          idea.find('.like, .disliked').addClass("hidden")
        else
          idea.find('.disliked, .like').removeClass("hidden")
          idea.find('.liked, .dislike').addClass("hidden")