.row
  %h2 I have an Idea
.row
  = simple_form_for @new_idea_form, url: ideas_path do |f|
    .row
      .col-lg-8

        .form-group
          - if f.error_notification.present?
            .alert.alert-warning
              = f.error_notification
          %label{for: 'idea_name'} Idea Name
          .input-group
            = f.text_field :title, required: true, class: 'form-control'
            %span.input-group-addon
              %span#title_icon.glyphicon.glyphicon-asterisk
          .error-text#title_error.hidden
            Please enter a title
        .form-group
          %label{for: 'idea_description'} Description
          .input-group
            = f.text_area :description, required: true, class: 'form-control', rows: 5, placeholder: "What do you have in mind?"
            %span.input-group-addon
              %span#description_icon.glyphicon.glyphicon-asterisk
          .error-text#description_error.hidden
            Please enter a description

        .form-group
          .col-lg-6
            %label{for: 'idea_industry'} Industry
            .input-group
              = f.input :industry, collection: @industries, required: true, label: false
            .error-text#industry_error.hidden
              Please select an industry
          .col-lg-6
            %label{for: 'idea_tag'} Tags
            .input-group
              = f.input :tags, label: false, class: 'form-control', input_html: {data: {role: "tagsinput"}}
            .hint-text#tag_hint
              Press enter to separate tags
            .error-text#tag_error.hidden
              Please enter at least one tag
    .row
      .col-lg-8
        .submit-button
          = f.button :submit, "Submit", id: 'submit_button', class: 'btn btn-info btn-block' 

:coffeescript
  $ ->
    $("select").addClass('form-control')
    $('.bootstrap-tagsinput input').attr("style", "width=100%")

  $('#new_idea_form_title').bind 'input', ->
    debugger
    validate_title()

  $('#new_idea_form_description').bind 'input', ->
    validate_description()

  $('#new_idea_form_industry').change ->
    validate_industry()

  validate_title =->
    if $('#new_idea_form_title').val() == ""
      $('#title_error').removeClass("hidden")
      return false
    else
      $('#title_error').addClass("hidden")
      return true

  validate_description =->
    if $("#new_idea_form_description").val() == ""
      $('#description_error').removeClass("hidden")
      return false
    else
      $('#description_error').addClass("hidden")
      return true

  validate_industry =->
    if $('#new_idea_form_industry').val() == ""
      $('#industry_error').removeClass("hidden")
      return false
    else
      $('#industry_error').addClass('hidden')
      return true

  validate_tags =->
    if $('#new_idea_form_tags').val() == ""
      $('#tag_error').removeClass("hidden")
      return false
    else
      $('#tag_error').addClass("hidden")
      return true

  $('form').submit (event) ->
    debugger
    if validate_title() && validate_description() && validate_industry() && validate_tags()
      return true
    else
      event.preventDefault()