.idea{data: {idea_id: @idea.id}}
  .row
    .idea-title
      %h1= @idea.title
  .row
    .show-likes
      = "likes: #{@idea.like_count}"
      = "dislikes: #{@idea.dislike_count}"
  .row
    .like-buttons
      - if current_user.has_liked?(@idea)
        .idea-liked.liked.fa.fa-thumbs-o-up
        .idea-like.like.fa.fa-thumbs-up.hidden
      - else
        .idea-liked.liked.fa.fa-thumbs-o-up.hidden
        .idea-like.like.fa.fa-thumbs-up
      - if current_user.has_disliked?(@idea)
        .idea-disliked.disliked.fa.fa-thumbs-o-down
        .idea-dislike.dislike.fa.fa-thumbs-down.hidden
      - else
        .idea-disliked.disliked.fa.fa-thumbs-o-down.hidden
        .idea-dislike.dislike.fa.fa-thumbs-down

    .col-md-offset-2.col-md-8.col-md-offset-2
      .show-description
        = @idea.description
  .row
    .col-md-offset-5.col-md-2
      = link_to "Back", dashboard_path(filters: @filters), class: "btn btn-info btn-block"

:coffeescript
  $('.idea-like').click ->
    idea = $(this).closest('.idea')
    submit_action('like', idea)

  $('.idea-dislike').click ->
    idea = $(this).closest('.idea')
    submit_action('dislike', idea)

  submit_action = (action, idea) ->
    $.ajax
      dataType: 'json'
      type: 'POST'
      url: '/likes/new_' + action
      data:
        idea_id: idea.data().ideaId
      success: (data) ->
        idea = $('.idea[data-idea-id=' + data.idea_id + ']')
        idea.find('.show-likes').text("likes: " + data.idea_likes + ", dislikes: " + data.idea_dislikes)
        if data.liked
          idea.find('.liked, .dislike').removeClass("hidden")
          idea.find('.like, .disliked').addClass("hidden")
        else
          idea.find('.disliked, .like').removeClass("hidden")
          idea.find('.liked, .dislike').addClass("hidden")